<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipie home</title>
</head>
<body>
    <h1>My recipie!</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Cook time</th>
            <th>Description</th>
            <th>Directions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe : ${recipes}">
            <td th:text="${recipe.id}">Id</td>
            <td th:text="${recipe.cookTime}">cookTime</td>
            <td th:text="${recipe.description}">description</td>
            <td th:text="${recipe.directions}">directions</td>
        </tr>
        </tbody>
    </table>
</body>
</html>